* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.header-home {
  width: 100%;
  display: flex; 
  background-image: linear-gradient(-240deg, #3dbee9 0%, #46c5a5 100%);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  color: white; 
  font-size: 1.35rem;
}


.header-home nav {
  width: 100%;
  display: flex; 
}


.menu {
  width: 100%; 
  display: flex; 
  flex-flow: row nowrap;
  justify-content: flex-start; 
  align-items: center;
  padding: 0;
  list-style: none; 
}


.left-menu {
  width: 34%;
  display: flex;
  flex-flow: row nowrap; 
}


.title-header {
  width: 33%; 
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.title-header:hover {
  cursor: default;
}


.log-out {
  text-align: right;
  width: 33%;
}

.log-out i {
  margin-left: 1rem; 
}


header nav ul li {
  padding: 0.8rem; 
}

header nav ul li:hover {
  cursor: pointer;
}


header nav ul li i {
  font-size: 20px; 
  margin-right: 0.4rem; 
}


#hamburger-menu {
  display: none;
  position: absolute;
  top: 2.1rem; 
  font-size: 1.8rem; 
  left: 2rem;
  cursor: pointer; 
}


@media (max-width: 768px) {

  .menu {
    width: 100%; 
    flex-direction: column; 
  }

  .box:nth-child(2) {
    order: 1;
    width: 100%; 
    margin-top: 1.5rem; 
    font-size: 2rem;
  }
  
  .box:first-child {
    order: 2;
    width: 100%;
    display: flex;
    flex-flow: column nowrap; 
  }
      
  .box:nth-child(3) {
    order: 3;
    width: 100%; 
    margin-bottom: 1.5rem; 
    text-align: center;
  }

  header nav ul li {
    width: 100%;
    text-align: center;  
    padding: 0; 
  }

  #hamburger-menu {
    display: flex;
  }
}

.hide {
  display:none; 
}