/*Header view*/
.main-header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex; 
  background-image: linear-gradient(-240deg, #3dbee9 0%, #46c5a5 100%);
  color: white; 
  z-index: 1;
}
.main-header nav {
  width: 100%;
  display: flex; 
}
.title-header i {
  font-size: 1.3rem;
}
.home-header i {
  margin-left: 1rem; 
}
#left-menu-header i {
  font-size: 20px; 
  margin-right: 0.4rem; 
}
#log-out-header i {
  font-size: 20px; 
  margin-right: 0.4rem; 
}
.menu-header {
  width: 100%; 
  display: flex; 
  flex-flow: row nowrap;
  justify-content: flex-start; 
  align-items: center;
  list-style: none; 
  font-size: 1.35rem;
}
.menu-header a {
  display: flex; 
  width: 100%; 
  justify-content: center;
  align-items: center;
  color: white; 
  padding: 1rem;
}
#left-menu-header {
  width: 33%;
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;
}
.title-header {
  width: 34%; 
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
#log-out-header {
  width: 33%;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem 0 0; 
}
#hamburger-menu {
  display: none;
  position: absolute; 
  top: 1.7rem; 
  font-size: 1.8rem; 
  left: 2rem;
  cursor: pointer; 
}
.scrollUp {
  font-size: 2.5rem;
  color: #2CAB92;
  position: fixed;
  bottom: 20px;
  right: 1rem;
  transition: all 300ms ease;
  transform: scale(0);
  cursor: pointer;
}
