:root {
  --color-green: #347c62;
  --color-yellow: #f0a000;
  --color-background: #f1f2eb;
  --color-bgdark: #a5aaa3;
  --color-footer: #4c553d;
  --color-white: #fff;
  --color-black: #000;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.main-header {
  background-color: var(--color-green);
  color: var(--color-white);
  line-height: 5;
  border-bottom: 1px solid var(--color-yellow);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  height: 100px;
}
.logo {
  flex-grow: 1;
  margin-left: 20px;
  color: var(--color-white);
  font-size: 30px;
  -webkit-text-stroke: 1px var(--color-yellow);
  letter-spacing: 1.5px;
  font-weight: 600;
}
.main-nav {
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-container {
  display: none;
}
.photo-perfil {
  display: none;
}
.btn-menu {
  margin-right: 30px;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-container_section {
  background-color: var(--color-background);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  flex-direction: column;
}
.upload-post {
  background-color: var(--color-white);
  width: 90%;
  margin: 20px 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.input-post {
  color: var(--color-bgdark);
  margin: 0 0 12px 0;
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.input-post:active {
  border: 1px solid var(--color-yellow);
}
.upload-post p {
  color: var(--color-bgdark);
}
.upload-options {
  display: flex;
  justify-content: flex-end;
  color: var(--color-bgdark);
}
.card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: var(--color-white);
  margin-bottom: 20px;
  width: 90%;
  align-content: flex-start;
}
.card-title {
  flex-grow: 1;
  padding: 10px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  font-weight: 500;
}
#input-user-name{
  padding: 10px;
  border: var(--color-yellow);
}
.card-title img,
.aside-title img {
  width: 60px;
  padding: 0 10px 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card-image {
  flex-grow: 2;
  flex-basis: 80%;
}
.card-image img {
  width: 100%;
}
.card-options {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  color: var(--color-bgdark);
}
.like,
.comment,
.share {
  padding: 0 10px;
}
.main-container_aside {
  display: none;
}
.main-footer {
  background-color: var(--color-footer);
  color: var(--color-white);
  line-height: 5;
  text-align: center;
  margin-top: auto;
}
@media screen and (min-width: 730px) {
  .nav-container {
    width: 100%;
    display: flex;
  }
  .nav-container_item {
    width: 100%;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    flex-basis: 25%;
  }
  .nav-container_item:nth-child(4) {
    flex-basis: 30%;
  }
  .nav-container_item:hover {
    background-color: var(--color-nav-dark);
  }
  .nav-container_link {
    color: var(--color-white);
    display: block;
    width: 100%;
  }
  .photo-perfil {
    display: block;
    flex-grow: 1;
    /* margin-right: 30px; */
  }
  .photo-perfil img {
    width: 80px;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  /* .main-container_aside {
    background-color: tomato;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .btn-menu {
    display: none;
  }
  .input-post{
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  .card {
    height: 400px;
  }
  .card-image img {
    height: 280px;
    object-fit: cover;
    /* object-position: 30% 5%; */
  }
}
@media screen and (min-width: 1024px) {
  .nav-container_item {
    font-size: 18px;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .main-container_section {
    flex-basis: 60%;
  }
  .main-container_aside {
    background-color: var(--color-background);
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-basis: 40%;
    flex-direction: column;
  }
  .aside-post_section {
    background-color: var(--color-white);
    margin-top: 20px;
    margin-right: 40px;
    padding: 30px 0;
    box-sizing: border-box;
  }
  .aside-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    font-size: 25px;
    font-weight: 600;
  }
  .aside-description {
    display: block;
    padding: 20px 40px;
    text-align: center;
    font-size: 18px;
  }
  .aside-post {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .aside-post-img {
    width: 150px;
    padding: 10px;
  }
  
}
