/* ------------------------------------View Home------------------------------- */
.container-home{
    background-color: whitesmoke;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "profile home aside";
}
.container-home p{
    margin: 0.5rem 0.5rem;
}
aside > div,
main > div,.allpost{
    background-color: white;
    margin: 0px auto 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
    padding: 10px;
    border-radius: 4px;
}
/*----- Left Column ---------*/
.profile-section{
    grid-area: profile;
}
.profile-section i{
    margin-right: 1rem;
    color: #444;
}
.profile-section h2{
    font-size: 1.2rem;
    text-align: center;
}
.profile,
.aboutUs{
    position: sticky;
    top: 90px;
}
.profile a{
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.avatar{
    width: 100px;
    height: 100px;
    margin: 0.5rem auto;
    display: block;
    border-radius: 50%;
}
hr{
    border: 0;
    border-top: 1px solid rgba(44, 171, 146, 0.3);
    margin: 10px 0;
}
#viewall{
    color: #2CAB92;
    background-color: transparent;
    border-color: #2CAB92;
    border-style: solid;
    border-radius: 2rem;
}
#viewall:hover{
    border-color: #2b7a75;
    height: 30px;
}
.interest span{
    color: #fff ;
    background-color: #2b7a75 ;
    font-size: 12px;
    padding: 0px 8px;
}

/*--------- Middle Column ----------*/

.home-section{
    grid-area: home;
}

.user, .user-post{
    display: flex;
}
.avatar-post{
    width: 40px;
    height: 40px;
    border-radius: 49px;
}
.content-newpost textarea,
.edit-text-post textarea,
.edit-comment-text-btns textarea{
    height: 70px;
    text-align: justify;
    width: 100%;
    resize: none;
    padding: 0.4rem;
    outline: none;
    background-color:  rgba(44, 171, 146, 0.1);
    border-color: rgba(44, 171, 146, 0.15);
    border-radius: 4px;
}

.post-img{
    width: 50%;
    display: block;
    margin: 0.3rem auto 1rem;
}

#remove-img{
    color: #444;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#remove-img:hover{
    color: red;
}

.upload-img{
    display: none;
}
.buttons-bar{
    position: relative;
}
.buttons-bar .fa-file-image{
    font-size: 1.35rem;
    cursor: pointer;
    margin-right: 1rem;
}

select{
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #444;
}
.btn-post i{
    margin-right: 0.3rem;
}
.btn-post{
    height: 2rem;
    width: 20%;
    font-weight: 600;
    color: #fff;
    background-color: #2CAB92;
    border-style: none;
    border-radius: 0.3rem;
    cursor: pointer;
    outline: none;
    float: right;
    transition: all ease 0.5s;
}
.btn-post:hover{
    background-color: rgba(44, 171, 146, 0.5);
    color: #2b7a75;
    font-weight: 800;
}
.mainpost{
    position: relative;
}
.time-post{
    opacity: 0.6;
    font-size: 0.7rem;
    width: min-content;
    text-align: center;
    margin: 0 1rem 0 auto !important;
}
.menu-post,
.menu-comment {
    position: absolute;
    right: 0;
}
.btn-menu-post,
.btn-menu-comment {
    color: #2CAB92;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.btn-menu-post:hover, .btn-menu-post:focus,
.btn-menu-comment:hover, .btn-menu-comment:focus {
    background-color: rgba(44, 171, 146, 0.5);
    color: #2b7a75;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.3rem;
    width: 1.2rem;
}
.menu-post-content,
.menu-comment-content {
    display: none;
    position: absolute;
    background-color:  #E6FFFF;
    min-width: 130px;
    overflow: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
    right: 0;
    z-index: 1;
    font-size: 14px;
}
.aboutUs li{
    list-style: none;
    display: inline-block;
    padding: 3px;
}
.menu-post-content li,
.menu-comment-content li {
    color: #2b7a75;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
}
.menu-post li:hover,
.menu-comment li:hover {
    background-color: rgba(44, 171, 146, 0.5);
    font-weight: 600;
}
.show {display: block;}
.text-post{
    text-align: justify;
    font-size: 15px;
}
.edit-text-btns,
.edit-comment-btns{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.edit-text-post button,
.edit-comment-btns button{
    height: 1.5rem;
    width: 15%;
    font-weight: 600;
    color: #fff;
    background-color: #2CAB92;
    border-style: none;
    border-radius: 0.3rem;
    margin-right: 2rem;
    cursor: pointer;
    outline: none;
}
.div-comment {
    max-width: 100%;
    background-color: rgba(44, 171, 146, 0.15);
    border-radius: 5px;
    border: 1px solid rgba(44, 171, 146, 0.15);
    display: grid;
    grid-template-columns: 90% 10%;
    position: relative;
    margin: 0.5rem 0;
    width: 100%;
}
.div-comment textarea{
    background: none;
    resize: none;
    outline: none;
    border: none;
    height: 2rem;
    color: #333;
    padding: 0 1rem;
}
.div-comment textarea::placeholder{
    color: rgba(44, 171, 146, 0.8);
}
.content-newpost textarea:focus,
.edit-text-post textarea:focus,
.edit-comment-text-btns textarea:focus{
    border-color: #C4C4C4;
    background: white;
}
.content-newpost textarea::placeholder{
    color: rgba(44, 171, 146, 0.8);
}
.content-newpost textarea:focus::placeholder{
    color: #C4C4C4;
}
.like{
    opacity: 0.6;
    font-size: 0.8rem;
}
.like-comment-container i{
    margin-right: 0.3rem;
}
.div-comment i {
    color: #2CAB92;
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
}
.photo-comment-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}
.name-comment{
    font-size: 0.9rem;
    font-weight: 600;
    color: #2CAB92;
}
.comment-text{
    font-size: 0.9rem;
}
.time-comment{
    opacity: 0.6;
    font-size: 0.7rem;
    margin: auto !important;
    text-align: right;
}
.comment-container{
    width: 100%;
    background-color: rgba(44, 171, 146, 0.15);
    border-radius: 0.5em;
    padding: 0 0.8rem;
    margin-left: 0.8rem;
    box-sizing: border-box;
}
.logo-aside i{
    color: #2CAB92;
    margin: 0;
}
.github i{
    font-size: 20px;
    cursor: pointer;
    color: #444;
    transition: all ease 0.5s;
}
.div-comment i:hover{
    color: #2b7a75;
}
.events button{
    color: #000;
    background-color: #dfe5e8 ;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 16px;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all ease 0.5s;
}
.like-comment-container button{
    position: relative;
    height: 2rem;
    width: 30%;
    font-weight: 600;
    color: #fff;
    background-color: #2CAB92;
    border-style: none;
    border-radius: 0.3rem;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    outline: none;
    transition: all ease 0.5s;
}

.contact button{
    width: 250px;
    height: 30px;
    color: #2CAB92;
    background-color: white;
    border: 2px solid #2CAB92;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.like-comment-container button:hover,
.edit-text-post button:hover,
.edit-comment-btns button:hover{
    background-color: rgba(44, 171, 146, 0.5);
    color: #2b7a75;
    font-weight: 800;
}

/*------- Right Column ---------*/
.right-section{
    grid-area: aside;
    text-align: center
}

.events button:hover{
    background-color: rgb(160, 160, 160);
    color: white;
    font-weight: 600;
}
.img-aside{
    width: 100%;
    border: 2px solid #2CAB92;
}
.aboutUs li a{
    font-size: 13px;
    color: gray;
    
}
.logo-aside{
    color: #2CAB92 ;
    font-weight: 800;
    font-size: 20px;
}

.copyright{
    font-size: 13px;
    color: gray;
}
.github{
    font-size: 12px;
    margin: 0 auto;
    justify-items: center;
    position: relative;
}

.github i:hover{
    color: #2CAB92;
}
.github td{
    padding: 3px;
}
.contact{
    position: fixed;
    padding: 0;
    bottom: 2px;
    right: 4rem;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 0 4px;
    transition: height 1s ease-in-out;
}
.contact.viewContact{
    height: 400px;
}

#contact-bottom.click{
    background-color:  #2CAB92;
    color: white;
}
.contact form{
    margin-top: 5px;
}
.scrollUp {
    font-size: 2.5rem;
    color: #2CAB92;
    position: fixed;
    bottom: 20px;
    right: 1rem;
    transition: all 300ms ease;
    transform: scale(0);
    cursor: pointer;
  }
/* --------Tool tip text span---------------- */
.fa-file-image .tooltiptext,
.fa-github .tooltiptext,
.fa-edit .tooltiptext{
    font-size: 12px;
    visibility: hidden;
    background-color:  #444;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    /* left: 50%; */
    margin-left: -60px;
  }
  
  .fa-file-image .tooltiptext::after,
  .fa-github .tooltiptext::after,
  .fa-edit .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
  }
  
  .fa-file-image:hover .tooltiptext,
  .fa-github:hover .tooltiptext,
  .fa-edit:hover .tooltiptext {
    visibility: visible;
  }
  