* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
ul {
  display: none;
}
.container-login {
    display: flex;
    flex-direction: row;
    height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
}
.image {
  /* width: 30%; */
  /* height: 75%; */
  display: flex;
  height: 100vh;
  background-attachment: fixed;
  /* background-color: red; */
}
.right-side{
  display: flex;
  width: 60vw;
  /* justify-content: center; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.form-login {
  width: 350px;
}
.text-center {
  -webkit-text-stroke: 2px #f6ad25;
  color: #fff;
  font-size: 40px;
  padding: 20px;
  letter-spacing: 1.5px;
  text-align: center;
}
.text-sign-in {
  color: #4c553d;
  /* font-family:  sans-serif; */
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.redes {
  color: white;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  padding: 3px;
}
.btn-redes-g,
.btn-redes-f {
  border-radius: 50%;
  background: #347c62;
  border-style: none;
  width: 55px;
  margin: 0 20px;
}
.redes i {
  color: white;
  font-size: 25px;
  padding: 15px;
  text-align: center;
}
.input-container {
  width: 100%;
}
label {
    display: block;
    color: #4c553d;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid #347c62;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}
.message-error{
    color: tomato;
    padding: 10px 0;
    font-style: italic;
    font-size: 16px;
}
.btn-login {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  background: #f6ad25;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn-login:hover {
  background: #f1bc5a;
  color: #fff;
}
a {
  color: #347c62;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}
footer {
  display: none;
}

/* @media screen and (max-width: 700px){
  .image{
    width: 30%;
  }
  .right-side{
    width: 70%;
  }
}
 */