:root {
  --color-green: #347c62;
  --color-yellow: #f0a000;
  --color-background: #f1f2eb;
  --color-bgdark: #a5aaa3;
  --color-footer: #4c553d;
  --color-white: #fff;
  --color-black: #000;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}
/*------------HOME------------------------*/
.main-header {
  background-color: var(--color-green);
  color: var(--color-white);
  line-height: 5;
  border-bottom: 1px solid var(--color-yellow);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  height: 100px;
}
.logo {
  flex-grow: 1;
  margin-left: 20px;
  color: var(--color-white);
  font-size: 30px;
  -webkit-text-stroke: 1px var(--color-yellow);
  letter-spacing: 1.5px;
  font-weight: 600;
}
.main-nav {
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-container {
  display: none;
}
.photo-perfil {
  display: none;
}
.btn-menu {
  margin-right: 30px;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-container_section {
  background-color: var(--color-background);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  flex-direction: column;
}
.upload-post {
  background-color: var(--color-white);
  width: 90%;
  /* height: 150px; */
  margin: 20px 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.input-post {
  color: var(--color-bgdark);
  margin: 0 0 12px 0;
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.input-post:active {
  border: 1px solid var(--color-yellow);
}
.upload-post p {
  color: var(--color-bgdark);
}
.upload-options {
  display: flex;
  justify-content: flex-end;
  color: var(--color-bgdark);
/*   height: 20px; */
}
#btn-save{
  height: 32px;
  /* width: 85px; */
  padding: 8px;
}
.card-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: var(--color-white);
  margin-bottom: 20px;
  width: 90%;
  align-content: flex-start;
}
.card-title {
  flex-grow: 1;
  padding: 10px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  font-weight: 500;
}
#input-user-name{
  font-weight: 600;
}
#input-user-name, #input-user-description{
  padding: 10px;
  border: var(--color-yellow);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.card-title img,
.aside-title img {
  width: 60px;
  padding: 0 10px 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card-image {
  flex-grow: 2;
  /* flex-basis: 80%; */
}
.card-image img {
  width: 100%;
}
.card-description{
  background-color: var(--color-white);
  padding: 5px 10px;
  font-size: 16px;
  color: var(--color-black);
}
.card-options {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: var(--color-bgdark);
}
.options-like-comment-share {
  display: flex;
}
.like,
.comment,
.share {
  padding: 0 10px;
}
.btn-edit, .btn-delete {
  width: 80px;
  margin-right: 5px;
  padding: 8px;
  font-family: Raleway;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: var(--color-white);
}
.btn-edit {
  background-color: var(--color-green);
}
.btn-delete {
  background-color: var(--color-yellow);
}
.btn-edit:hover{
  background-color: rgba(52, 124, 98, 0.8);
}
.btn-delete:hover {
  background-color: rgba(240, 160, 0, 0.8);
}
.main-container_aside {
  display: none;
}
/*------------LOGIN------------------------*/
.container-login {
    display: flex;
    flex-direction: row;
    height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
}
.image {
  /* width: 30%; */
  /* height: 75%; */
  display: flex;
  height: 100vh;
  background-attachment: fixed;
  /* background-color: red; */
}
.right-side{
  display: flex;
  width: 60vw;
  /* justify-content: center; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.form-login {
  width: 350px;
}
.text-center {
  -webkit-text-stroke: 2px var(--color-yellow);
  color: var(--color-white);
  font-size: 40px;
  padding: 20px;
  letter-spacing: 1.5px;
  text-align: center;
}
.text-sign-in {
  color: #4c553d;
  /* font-family:  sans-serif; */
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.redes {
  color: white;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  padding: 3px;
}
.btn-redes-g,
.btn-redes-f {
  border-radius: 50%;
  background: var(--color-green);
  border-style: none;
  width: 55px;
  margin: 0 20px;
  cursor: pointer;
}
.btn-redes-g:hover,
.btn-redes-f:hover {
  background-color: rgba(52, 124, 98, 0.8);
}
.redes i {
  color: white;
  font-size: 25px;
  padding: 15px;
  text-align: center;
}
.input-container {
  width: 100%;
}
label {
    display: block;
    color: #4c553d;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--color-green);
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}
.message-error{
    color: tomato;
    padding: 10px 0;
    font-style: italic;
    font-size: 16px;
}
.btn-login {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  background: #f6ad25;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn-login:hover {
  background: #f1bc5a;
  color: #fff;
}
.text-sign-in a {
  color: #347c62;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
}
/*------------FOOTER------------------------*/
.main-footer {
  background-color: var(--color-footer);
  color: var(--color-white);
  line-height: 3;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: auto;
  font-size: 16px;
  align-self: flex-end;
}


/* Responsive */

@media screen and (max-width: 1440px){
  .right-side {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;

  }
  .btn-menu {
    display: none;
  }
  .input-post{
    margin: 0 0 10px 0;
    font-size: 16px;
  }
  .card {
    height: 450px;
  }
  .card-image img {
    height: 280px;
    object-fit: cover;
    /* object-position: 30% 5%; */
  }
  .main-footer{
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px){
  .form-login {
    width: 300px;
    margin-right: 120px;
}
}
@media screen and (max-width: 768px){
  .image {
    width: 45%;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
  }
  .aside-post-img {
    width: 150px;
    padding: 10px;
  }
  #input-user-name, #input-user-description{
    font-size: 18px;
  }
}
.form-login {
  width: 242px;
  margin-right: 100px;
}
.right-side {
  display: flex;
  width: 100vw;
  margin-bottom: 8px;
  justify-content: 15px;
  justify-content: space-between;
  align-items: center;
  /* margin: 0; */
}
}
.container-login {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  /* align-items: center; */
}

@media screen and (max-width: 425px){
  body{
  border: 3px solid red;
  width: 100%;
  height: 100%;
 }
 .image {
  opacity: 0.4;
  filter: alpha(opacity=40);
  height: 100%;
  width: 100%;
}
.right-side {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.form-login {
  position: relative;
  right: 225px;
  width: 102vw;
  height: 100vh;
  margin-left: -78px;
  margin-bottom: 0px;
}
.redes{
  display:none;
}
}

@media screen and (max-width: 320px){
  body{
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
   }
   .form-login {
    width: 200px;
    margin-left: -27px;
    margin-top: 60px;
}
.text-sign-in {
 
  font-size: 12px;
 
}
label {
  display: block;
  color: #f4f7f1;
}
.btn-login {
  width: 96%;
  padding: 8px;
  margin-top: 9px;
  font-size: 16px;
}
/* .input-container {
  border-bottom: 2px solid #f5f0f0;
    height: 2px;
    padding: 25px;
    margin: 20px auto 0 auto;
} */
.form-login input[type="text"],
.form-login input[type="email"], 
.form-login input[type="password"] {
  height: 2px;
}

.redes{
  display: flex;
  columns: end;
}
.image {
  opacity: 0.4;
  filter: alpha(opacity=40);
  height: 110%;
  width: 100%;
}
.main{
  width: 86vw;
}
.right-side {
  display: flex;
  width: 100%;
  height: 100vh;
  /* justify-content: center; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

}
