
.profile-container {
  width:100%;
  background-color: #f0f0f0;
}


.profile-content {
  width: 70%;
  margin: 0 auto; 
}


.profile-information {
  width: 100%;
  position: relative; 
  z-index: 0; 
}


.cover-page {
  width: 100%;
  height: 270px;
  position: relative; 
  z-index: 0; 
  background-color: whitesmoke;
}


.edit-cover {
  height: 34px;
  width: 34px; 
  position: absolute; 
  right: 1.5rem; 
  bottom: 47%; 
  padding:0.3rem;
  z-index: 2; 
  background-color: white; 
  border-radius: 50%;
  outline: none;
  border:none;
  color: #222;
  text-align: center;
}


.edit-cover i {
  font-size: 1.45rem;
  cursor: pointer; 
}


.cover-photo {
  width: 100%; 
  height: 100%; 
  z-index: 0; 
}


.profile-photo {
  width: 100%; 
  height: 170px; 
  top: 28%; 
  z-index: 1;
  position: absolute; 
  background-color: transparent;
  justify-content: center;
}


.photo {
  width: 170px; 
  height: 170px; 
  display: block; 
  margin-left: auto;
  margin-right: auto; 
  background-color: white; 
  border-radius: 50%; 
  border: 0.3rem solid white; 
}


.edit-photo {
  width: 100px;
  position: absolute;
  z-index: 1; 
  bottom: 40%; 
  left: 52.5%;
  background-color: transparent;  
  font-size: 1.45rem;
}


.edit-photo i {
  width: 34px; 
  height: 34px;
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
  padding: 0.3rem; 
  border-radius: 50%; 
  background-color: white;
  color: #222; 
  font-size: 1.45rem;
  text-align: center;
  cursor: pointer; 
}


@media (max-width: 960px) {
  .profile-content {
    width: 100%;
  }
}


.user-information {
  width: 100%; 
  height: 200px;
  z-index: 0;
  padding-right: 4rem; 
  padding-left: 4rem;
  background-color: white;
  color: #222; 
}


.edit-info {
  margin-left: 100%;
  margin-top: 1rem; 
}


.user-information h2 {
  text-align: center;
  font-size: 2rem; 
}


.user-information p {
  text-align: left; 
}


.user-posts {
  width: 90%;
  margin-top: 2rem; 
  margin-right: auto; 
  margin-left: auto; 
  background-color: white; 
}


.user-posts p {
  padding: 2rem; 
  text-align: center;
}


.photo .profile-information {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}