
.profile-container {
  width:100%;
}


.profile-content {
  width: 70%;
  margin: 0 auto; 
}


.profile-content i {
  font-size: 20px;
  color: #222;
}


.profile-information {
  width: 100%;
  position: relative; 
  z-index: 0;  
}


.cover-page {
  width: 100%;
  height: 270px;
  position: relative; 
  z-index: 0; 
}


.edit-cover {
  position: absolute; 
  right: 1rem; 
  bottom: 50%; 
  z-index: 2;   
  outline: none;
  border:none;
  text-align: center;
  cursor: pointer; 
}


.edit-photo-btn {
  height: 33px; 
  width: 33px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0.3rem; 
  border-radius: 50%; 
  background-color: white; 
  font-size: 1.40rem;
}


.cover-photo {
  width: 100%; 
  height: 100%; 
  z-index: 0; 
}


.profile-photo {
  width: 100%; 
  height: 170px; 
  top: 28%; 
  z-index: 1;
  position: absolute; 
  background-color: transparent;
  justify-content: center;
}


.photo {
  width: 170px; 
  height: 170px; 
  display: block; 
  margin-left: auto;
  margin-right: auto; 
  background-color: white; 
  border-radius: 50%; 
  border: 0.3rem solid white; 
}


.edit-photo {
  position: absolute;
  z-index: 1; 
  bottom: 43%; 
  left: 55%; 
  background-color: transparent;  
  cursor: pointer; 
  text-align: center; 
}


.user-information {
  width: 100%; 
  z-index: 0;
  padding: 1rem 3rem 3rem 3rem; 
  background-color: white;
  color: #222; 
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px rgba(128, 128, 128, 0.226) solid; 
}


.edit-info {
  margin-left: 100%;
  margin-top: 1rem; 
  cursor: pointer; 
}


.user-information h2 {
  text-align: center;
  font-size: 2rem; 
}


.user-information p {
  text-align: left; 
}


.user-posts {
  width: 90%;
  margin: 2rem auto; 
  background-color: white; 
  border-radius: 0.5rem; 
  border: 1px rgba(128, 128, 128, 0.226) solid; 
}


.user-posts p {
  padding: 2rem; 
  text-align: center;
}