/******************************media query***********************************/
/* ------------------media query tablet-----------------*/
@media screen and (max-width:768px){
    /*responsive view logIn*/
    .container-logIn:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 75%;
        right: initial;
        top: initial;
        transition: 1s ease-in-out;
        z-index: -1;
    }
   
    .text-info img{
        display: none;
    }
    .container-logIn , .container-signUp{
        flex-flow: row wrap;
    }

    .section-register{
        width: 80%;
    }
    .box-section-register{
        width: 100%;
    }
    /*Responsive view  SignUp*/
    .container-signUp:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-45%);
        bottom: 75%;
        right: initial;
        top: initial;
        transition: 1s ease-in-out;
        z-index: -1;
    }
    .text-infoSingUp{
        width: 90%;
        margin-left: 12%;
        margin-right: 5%;
    }
    .text-infoSingUp .text , .text-info .text {
        font-size: 14px;
    }
    /*responsive recover Password*/
    .container-recoverPassword header{
        width: 80%;
    }
    .container-recoverPassword form{
        width: 80%;
    }

    /*Responsive header*/
    
    .menu-header {
        width: 100%; 
        flex-direction: column; 
        justify-content: center;
        padding: 0;
      }

      header nav ul li {
          width: 100%;
          text-align: center;  
        }
 
      .box:nth-child(2) {
        order: 1;
        width: 100%; 
        font-size: 2rem;
      }
     
      .box:first-child {
        order: 2;
       
      }

      .box:nth-child(3) {
        order: 3; 
      }     

      .title-header a {
        padding: 1rem;
        width: 100%;
      }
               
      #hamburger-menu {
        display: flex;
      }
      
      #left-menu-header {
        display: none; 
      }

      #left-menu-header.active{
        display: flex; 
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
      }

      
      #left-menu-header a {
        width: 100%;
        padding: 0.5rem; 
      }

      #left-menu-header a:hover {
        color: #46c5a5;
        background-color: white;
      }

      .home-header i {
        margin-left: 0;
      }


      #log-out-header {
        display: none; 
      }

      #log-out-header.active{
        display: flex; 
        width: 100%; 
        margin-bottom: 1rem; 
        justify-content: center;
        padding: 0.5rem;
      }

      #log-out-header i {
        margin-left: 1rem;
      }

      #log-out-header:hover {
        color: #46c5a5;
        background-color: white;
      }

}

/* ------------------media query small device-----------------*/
@media screen and (max-width:576px){
    /* -----------------Responsive home--------------*/
    .container-home{
        grid-template-areas: "profile profile profile"
                            "home home home"
                            "aside aside aside";
    }
    .interest, .events, #viewall{
        display: none;
    }  
}

/* ------------------media query for profile view-----------------*/
@media (max-width: 960px) {
    .profile-content {
      width: 100%;
    }

    /*Responsive profile*/
    .edit-photo {
      position: absolute;
      z-index: 1; 
      bottom: 43%; 
      left: 52%; 
    }
  }