/**************************************View Sing in***********************************/
/*css view SignIn*/
/*container for  text-info y logIn*/
.container-logIn , .container-signUp{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.text-info img{
    margin-top: 100px;
}
.text-info,.text-infoSingUp{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    color: #ffffff;
    width: 50%;
}

.text-info{
    margin-right: 10%;
}
.text-infoSingUp{
    align-items: flex-start;
    margin-left: 10%;
}
.text-infoTitle{
    font-size: 24px;
    color: #ffffff;
}
.text{
    font-size: 16px;
}
/*regarding logIn*/
/*container for box-logIn*/
.section-register{
    width: 50%;
    height:100%;
    display: flex;  
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.box-section-register{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    min-width: 350px;
    height: 80%;
}
.box-section-register header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.title{
    font-size: 48px;
    color: #2CAB92;
    font-weight: bold;
}
.text-title{
    font-size: 32px;
    color: #444;
    font-weight: bold;
}
.div-input input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.1rem;
    color: #333;
    border-radius: 55px;
  }
  .box-section-register input::placeholder {
    color: #aaa;
  }
  .div-input {
    max-width: 100%;
    background-color: #f0f0f0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
    font-size: 16px;
    width: 100%;
  }
  .div-input i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 16px;
  }
  .div-input .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    background-color:  #444;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
  }
  .div-input .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
  }
  .div-input:hover .tooltiptext {
    visibility: visible;
  }
.section-register form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}
.btn-recoverPass{
    margin: 20px;
}
.btn-logIn,.newAccount,.btn-signUp,.btn-recoverPass{
    font-weight: 600;
    justify-content: center;
    width: 60%;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    cursor: pointer;
}
.backLogin{
    justify-content: center;
    width: 20%;
    height: 49px;
    border-radius: 49px;
    cursor: pointer;
}
.backLogin i{
    font-size: 30px;
}
.btn-logIn,.backLogin{
    background-color: transparent;
    border-color: #2CAB92;
    color: #2CAB92;
    border-style: solid;
}
.newAccount,.btn-signUp, .btn-recoverPass{
    color: #ffffff;
    height: 55px;
    background-color:#2CAB92;
}

.btn-logIn a,.backLogin i{
    color: #2CAB92;
}
.btn-logIn a,.newAccount,.backLogin i{
    text-decoration: none;
    font-size: 16px;

}
.newAccount:hover,.btn-signUp:hover, .btn-recoverPass:hover{
    background-color:  #2b7a75;
    width: 62%;
    height: 54px;
}
.backLogin:hover,.btn-logIn:hover{
    border-color: #2b7a75;
    color: #2b7a75;
    height: 55px;
}
.option{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 40%;
}
.option img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.option img:hover{
    width: 45px;
    height: 45px;
}
/*regarding circular layout of the login view*/
.container-logIn:before  {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    right: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #2CAB92 0%, #04befe 100%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease-in-out;
}
.recoverPass{
    color: #2CAB92;
    text-decoration: none;
}
.recoverPass:hover{
    color: #2b7a75;
    text-decoration: underline;
    cursor: pointer;
}
/******************************Vista de signUp***********************************/
.container-signUp:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    left: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(45deg, #2CAB92 0%, #04befe 100%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease-in-out;
}
.container-signUp{
    position: absolute;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
/******************************View Recover Password***********************************/
.container-recoverPassword{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container-recoverPassword header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: 20px;
}
.container-recoverPassword form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}
.container-recoverPassword .title {
    font-size: 32px;
    text-align: center;
}