* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 500;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
.split-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
        url(../img/imageAislados.png);
    background-repeat: no-repeat;
    background-size: cover;  
   /*  background-repeat: no-repeat; 
    background-size: 40vw 100vh; */
}
.left-side .copy{
    color: #fff;
    text-align: center;
    padding: 20px;
}
.right-side {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    height: auto;
}
.right-side form {
    width: 350px;
}
.text-center {
    font-family: sans-serif;
    color: #fff;
    -webkit-text-stroke: 2px #f0a000;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #347C62;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 16px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}
.input-container.password {
    position: relative;
}
.input-container.password i {
    position: absolute;
    top: 45px;
    right: 16px;
}
.login-btn {
    display: block;
    width: 100%;
    background: #f0a000;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.text-iniciar-sesion{
    text-align: center;
}
.redes{  
    margin: 10px 0;
    text-align: center;
}
.redes i{
    color: white;
    font-size: 30px;
    padding: 15px;
}
.btn-redes-g , .btn-redes-f{
    margin: 10px;
    border-radius: 50%;
    background:#347C62 ;
    border-style: none;
    width: 60px;
}
@media screen and (width: 400px){
    .split-screen{
        flex-direction: column;
        height: 100vh;
    }
}