@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body::-webkit-scrollbar {
    width: 1em;
    height: 100px; 
  }
   
body::-webkit-scrollbar-track {
    background-color: rgba(247, 255, 253, 0.589); 
}

body::-webkit-scrollbar-thumb {
    background-color: #46c5a550;
    height: 10px;
}

body::-webkit-scrollbar-scroll {
    background-color: orange; 
}
 

a {
    text-decoration: none;
}


.shadow {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

/*****************************classlist for messenger alert*************************/
.error-message{
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: capitalize;
}
.successful-message{
    color:#2CAB92;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: capitalize;
}

.hide {
    display:none; 
}

