* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #fff895;
	background: -moz-linear-gradient(top, #fff895 0%, #fcd697 58%, #f46d6d 100%);
	background: -webkit-linear-gradient(
		top,
		#fff895 0%,
		#fcd697 58%,
		#f46d6d 100%
	);
	background: linear-gradient(to bottom, #fff895 0%, #fcd697 58%, #f46d6d 100%);
	background-attachment: fixed;
}
/*TODO vista sign y register*/
.sign {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 1rem 1rem 1rem 1rem;
}
.header_register, .header_signin {
	margin: 1rem 1rem 1rem 1rem;
	width: 100%;
	max-width: 100%;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-row: none;
}
.petLogo{
	width: 80%;
	margin: 0% 10%;
}
img.logoHuella {
	width: 40%;
	max-width: 40%;
	top: 4rem;
	position: relative;
}
.logoHeader {
	width: 80%;
	max-width: 80%;
	height: auto;
	position: relative;
	margin: 2% 25%;
}
.register-container {
	
	width: inherit;
	max-width: inherit;
	height: auto;
	position: relative;
	left: 0rem;
}
.signInForm-container {
	box-shadow: none;
	padding: 2%;
	background: none;
	height: auto;
	margin: 0rem 0rem;
	line-height: 3rem;
	position: relative;
	width: auto;
}
form.signIn_Form {
	width: inherit;
	height: auto;
	margin: 1rem 1rem 3rem 1rem;
	position: relative;
	top: 0rem;
	background: none;
	box-shadow: none;
}
.signIn_Form h1 {
	font-size: 170%;
	text-align: center;
	font-weight: bold;
	font-family: 'Abel', sans-serif;
}
.col {
	width: 100%;
	max-width: 100%;
	margin: 1rem 1rem 1rem 0rem;
	padding: 0 0rem;
}
span.input-item {
	margin: 0.5rem auto auto 18rem;
	position: absolute;
	max-width: 100%;
	display: list-item;
}
input {
	max-width: 100%;
	width: 100%;
	padding: 12px;
	border: 2px solid #98aebc;
	border-radius: 25px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 100%;
	font-family: 'Abel', sans-serif;
	line-height: 20px;
	text-decoration: none;
	outline: none;
}

section.logo-Redes {
	width: auto;
	margin: 1rem 1rem 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: auto;
}
.container_msg p {
	font-size: 100%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: inherit;
	margin: 1rem 1rem 1rem 1rem;
	width: inherit;
	position: relative;
}
.container {
	top: 2rem;
	position: absolute;
	border-radius: 5px;
	padding: 1rem 1rem 1rem 1rem;
	margin: 1rem 1rem 1rem 1rem;
	left: 60%;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 26%;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3b5998;
	color: white;
}
.fa-google {
	background: #dd4b39;
	color: white;
}
input.btn {
	width: 100%;
	max-width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	font-family: 'Abel', sans-serif;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
}
input:hover,
.btn:hover {
	opacity: 1;
}
input[type='submit'] {
	background-color: black;
	color: white;
	cursor: pointer;
}
input[type='submit']:hover {
	background-color: gray;
	color: white;
}
.position {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 1rem 1rem 1rem 1rem;
}
.registerForm-container {
	width: auto;
	height: auto;
	border-radius: 40px;
	margin: 2rem 0rem;
	position: absolute;
	box-shadow: none;
	padding: 2%;
	background: none;
}
.msg-Redes {
	width: auto;
	height: auto;
	text-align: center;
}
form.form {
	margin: 1rem 1rem 3rem 1rem;
	width: inherit;
}
span.input-itemR {
	margin: 1.5rem auto auto 18rem;
	position: absolute;
	max-width: inherit;
}
span.error-msg {
	font-size: 75%;
	font-family: 'Playfair Display', serif;
	margin-left: 1rem;
	position: relative;
	top: 0rem;
}
.registerForm-container h1 {
	font-size: 150%;
	text-align: center;
	font-weight: bold;
	font-family: 'Abel', sans-serif;
}
.registerForm-container p {
	font-size: 100%;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: inherit;
}

section.msg-Redes p {
	width: auto;
	margin: 1rem 2rem;
	font-size: 100%;
	font-family: 'Abel', sans-serif;
}
/*TODO profile*/
.petLogoMenu{
	width: 40%;
    margin: 1% 30%;
}
#headerHome{
    width: 100%;
    background-color:#abecea;

}

.btn-header{
	color:#fff;
}
.btn-header i{
	font-size: 20px;
}
.nav_Mobile{
    display: flex;
}
.name_app{
    display: none;
}

.btn-menu,.btn-menu1{
    margin: 3%;
}
.menu_mobile,.menu_mobile1{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    padding-left: 0%;
    padding: 10px;
    margin-top: 10%;
    list-style: none;
    flex: auto;
    line-height: 3;
    position: absolute;
    margin-left: 0%;
	background-color:#abecea;
	z-index: 1;
}
.menu_mobile.responsive,.menu_mobile1.responsive{
    visibility: visible;
}
li {
    flex: auto;
}
ul li a{
    text-decoration: none;
}

.body_container{
    width:90%;
    margin:20px auto;
}
.profile_section{
    display: none;
}
.profile_section1{
	display: block;
}
.profile_section,.timeline_section{
    background: #f0f2f5;
    padding: 20px;
    border-radius: 4px;
}
/* Profile*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

h2, p {
    font-family: 'Lato', serif;
    font-size: 16px;
}

h2 {
    color: #CF1124;
}

p {
    color: #243B53;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    border-top: solid 4px #CF1124;
    height: 382px;
    margin: 0%;
    position: relative;
	width: 400px;
	background:#fff;
}
.cover {
    background-image: url('https://picsum.photos/480/136/?random');
    background-size: contain;
    background-position: center;
    height: 136px;
}

.content {
    padding-top:12px;
    padding-left: 21px;
    padding-right: 21px;
}

.profile {
    position: absolute;
    top: 78.5px;
    left: 20px;
}

.profile img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 50%;
    height: 115px;
}

/*.header {
    text-transform: capitalize;
    max-width: 190px;
    width: 35%;
    margin: 0 auto;
}*/
.header_name{
	margin-left:9rem;
}
.header .name {
    margin: 0px;
}
.hide{
	visibility: hidden;
  }
#selectProfile{
	margin:0%;
	padding:0%;
}
  #selectProfile i{
	visibility: visible;
	width: 10%;
	margin-left: 7rem;;
  }
.labels {
    margin-top: 3.5rem;
}

.labels .label {
    flex-grow: 1;
	word-wrap: break-word;
	margin-top:1rem;
    /*width: 0;*/
}

.labels .label p {
    margin-bottom: 5px;
    margin-top: 0px;
}

.labels .label h2 {
    margin: 0px;
}
.edit_btn{
	padding: 0.5rem;
    margin: 1rem 0rem 1rem 14rem;
}
.update_container{

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    background-color: #fff;
    padding:3%;
}
.update_container input{
    background-color:#f0f2f5;
    border: 2px solid grey;
    border-radius: 5px;
    width: 90%;
    height: 20%;
    margin:2%
   
}
.user_post{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    background-color: #fff;
    padding:3%;
    margin-top: 2%;
}
img.user_img{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 50%;
    height: 80px;
}

/*TODO container posts*/
.like-picture{
    width: 16%;
	max-width: 16%;
		border-radius: 50%;
		margin-bottom: 0.5em;
}
.status_imput{
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    border: 0.1em solid #C4C4C4;
    resize: none;
    position: relative;
    margin-bottom: 1em;
    font-family: "Noto sans", sans-serif;
    padding: 0.4em;
    font-size: 1.2em;
    outline: none;
}
.hide{
    display: none;
}

.upload{
    display: none;
}

.post-new-image{
	width: 100%;
	max-width: 100%;
}
.cancel-image{
    width: 2em;
    height: 5em;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(./imagenes/delete.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    /* outline: none; */
    cursor: pointer;
}
/*TODO vista profile posts*/
.post_buttom {
	width: 20%;
    text-align: center;
    height: 2rem;
    /* line-height: 2rem; */
    margin: 0rem 1rem 0rem 1rem;
}
i.fa.fa-pencil{
	width: auto;}
.button-section{
	border-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.button-section button{
	border-style:space around;

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
	body {
		background: #fff895;
		background: -moz-linear-gradient(
			top,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: -webkit-linear-gradient(
			top,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: linear-gradient(
			to bottom,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background-attachment: fixed;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/*header h1 {
		font-size: 600%;
	}*/
	img.logoHuella {
		width: 30%;
		max-width: 50%;
	}
	.petLogo{
		width: 70%;
		margin: 0% 30%;
	}
	.signIn_Form h1 {
		font-size: 300%;
	}
	.signInForm-container {
		line-height: 3rem;
	}
	input {
		font-size: 200%;
	}

	.fa {
		padding: 34px;
		font-size: 30px;
		width: 14%;
	}

	.container_msg p {
		font-size: 200%;
		font-family: 'Abel', sans-serif;
	}
	.registerForm-container {
		position: relative;
	}
	.registerForm-container h1 {
		font-size: 300%;
	}
	span.error-msg {
		font-size: 100%;
	}
	section.msg-Redes p {
		font-size: 200%;
	}
	/*---Main--*/
	.menu_mobile,.menu_mobile1 {
		margin-top: 8%;
	}


}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
	body {
		font-family: 'Playfair Display', serif;
		background: #fff895;
		background: -moz-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: -webkit-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: linear-gradient(135deg, #fff895 0%, #fcd697 58%, #f46d6d 100%);
		background-attachment: fixed;
		
	}

	img.logoHuella {
		width: 50%;
		max-width: 50%;
	}
	.petLogo{
		width: 70%;
		margin: 0% 30%;
	}
	.logoHeader{
		margin: 0% 22%;
	}
	.signIn_Form h1 {
		font-size: 300%;
	}
	.signInForm-container {
		line-height: 3rem;
	}
	input {
		font-size: 200%;
	}

	.fa {
		padding: 34px;
		font-size: 30px;
		width: 14%;
	}
	.container_msg p {
		font-size: 200%;
		font-family: 'Abel', sans-serif;
	}
	.registerForm-container {
		position: relative;
	}
	.registerForm-container h1 {
		font-size: 300%;
	}
	span.error-msg {
		font-size: 100%;
	}
	section.msg-Redes p {
		font-size: 200%;
	}
	#headerHome label{
		display:none;
	}
	.menu_mobile,.menu_mobile1{
		display: flex;
		visibility: visible;
		flex-direction: row;
		text-align: center;
		padding-left: 0%;
		padding: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
		list-style: none;
		flex: auto;
		position: relative;
		margin-left: 0%;
	}
	.body_container{

        display: grid;
        grid-gap:20px;
        grid-template-columns: repeat(3,1fr);
    }
    .profile_section{
        display: block;
    }
    .timeline_section{
        grid-column: span 2;
	}

}

@media only screen and (min-width: 1024px) and (max-width:1280px) {
	body {
		font-family: 'Playfair Display', serif;
		background: #fff895;
		background: -moz-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: -webkit-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: linear-gradient(135deg, #fff895 0%, #fcd697 58%, #f46d6d 100%);
		background-attachment: fixed;
	}
	/*TODO  Vista: encabezado  */
	/*header h1 {
		font-size: 600%;
		text-align: end;
	}*/
	img.logoHuella {
		width: 30%;
		max-width: 30%;
		top: 6rem;
	}

	.logoHeader {
		width: 50%;
		max-width: 50%;
		margin: 0% 23%;
		position: absolute;
		top:6rem;
	}
	.petLogo{
		width: 70%;
		margin: 0% 30%;
	}

	.sig
	/*TODO Vista: inicio de sesion  */
	.sign {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin: 1rem 1rem 1rem 1rem;
	}
	.container {
		top: 2rem;
		position: absolute;
		border-radius: 5px;
		padding: 1rem 1rem 1rem 1rem;
		margin: 1rem 1rem 1rem 1rem;
		left: 48rem;
	}
	form.signIn_Form {
		margin: 2rem 2rem;
	}
	.signIn-container {
		width: auto;
		height: auto;
		border-radius: 40px;
		margin: 2rem 0rem;
		position: relative;
		padding: 2%;
	}
	.signIn_Form h1 {
		font-size: 200%;
	}

	span.input-item {
		margin: 0.5rem auto 0rem 14.5rem;
	}
	.fa {
		width: 25%;
		max-width: 25%;
	}
	/*TODO Vista: registro de usuario  */

	.registerForm-container {
		width: auto;
		height: auto;
		border-radius: 40px;
		margin: 2rem 0rem;
		line-height: 3rem;
		position: relative;
		-webkit-box-shadow: 0px 10px 13px -7px #000000,
			5px 5px 15px 5px rgba(0, 0, 0, 0);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		padding: 2%;
		background: #acc5d6;
		background: -moz-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: -webkit-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: linear-gradient(
			to right,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
	}
	.signInForm-container {
		border-radius: 40px;
		margin: 2rem 0rem;
		/* line-height: 3rem; */
		position: relative;
		-webkit-box-shadow: 0px 10px 13px -7px #000000,
			5px 5px 15px 5px rgba(0, 0, 0, 0);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		padding: 2%;
		background: #acc5d6;
		background: -moz-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: -webkit-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: linear-gradient(
			to right,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
	}
	.registerForm-container h1 {
		font-size: 220%;
		text-align: center;
	}

	.signUp-form {
		margin: 0rem 0rem;
	}
	form.form {
		margin: 2rem 2rem;
		line-height: 2rem;
	}
	span.input-itemR {
		background: none;
		color: black;
		padding: 14.5px 0px 15px 9px;
		border-radius: 5px 0px 0px 5px;
		position: absolute;
		margin: 0.445rem 0.45rem 1.45rem 18.5rem;
	}
	span.error-msg {
		font-size: 100%;
		top: 0rem;
	}
	.register-container {
		position: absolute;
		top: 40rem;
		margin: 0rem 1rem;
		left: 13rem;
		width: 54%;
		max-width: 54%;
	}
	.container_msg p {
		font-size: 150%;
	}
	#headerHome label{
		display:none;
	}
	.petLogoMenu {
		width: 15%;
		margin: 1% 2%;
	}
	.menu_mobile ,.menu_mobile1{
		display: flex;
		visibility: visible;
		flex-direction: row;
		text-align: center;
		padding-left: 0%;
		padding: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
		list-style: none;
		flex: auto;
		position: relative;
		margin-left: 0%;
	}
	.body_container{

        display: grid;
        grid-gap:20px;
        grid-template-columns: repeat(3,1fr);
    }
    .profile_section{
        display: block;
    }
    .timeline_section{
        grid-column: span 2;
	}
}
@media only screen and (min-width: 1281px) {
	body {
		font-family: 'Playfair Display', serif;
		background: #fff895;
		background: -moz-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: -webkit-linear-gradient(
			-45deg,
			#fff895 0%,
			#fcd697 58%,
			#f46d6d 100%
		);
		background: linear-gradient(135deg, #fff895 0%, #fcd697 58%, #f46d6d 100%);
		background-attachment: fixed;
	}
	/*TODO  Vista: encabezado  */
	.header_signin,.header_register {
		margin: 1rem 1rem 1rem 1rem;
		width: 50%;
		max-width: 50%;
		display: grid;
		grid-template-columns: 70% 30%;
		grid-row: none;
	}
	/*header h1 {
		font-size: 600%;
		text-align: end;
	}*/
	img.logoHuella {
		width: 30%;
		max-width: 40%;
		top: 2rem;
		position: relative;
		left: 9rem;
	}
	.petLogoMenu {
		width: 15%;
		margin: 1% 2%;
	}
	.petLogo {
		width: 100%;
	}
	.logoHeader {
		width: 30%;
		max-width: 30%;
		margin: 1rem 12rem;
		position: absolute;
		top: 22rem;
	}

	/*TODO Vista: inicio de sesion  */

	.position ,.sign {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.container {
		top: 2rem;
		position: absolute;
		border-radius: 5px;
		padding: 1rem 1rem 1rem 1rem;
		margin: 1rem 1rem 1rem 1rem;
		left: 48rem;
	}
	form.signIn_Form {
		margin: 2rem 2rem;
	}
	.signIn-container {
		width: auto;
		height: auto;
		border-radius: 40px;
		margin: 2rem 0rem;
		position: relative;
		padding: 2%;
	}
	.signIn_Form h1 {
		font-size: 200%;
	}

	span.input-item {
		margin: 0.5rem auto 0rem 14.5rem;
	}
	.fa {
		width: 25%;
		max-width: 25%;
	}
	/*TODO Vista: registro de usuario  */

	.registerForm-container {
		width: auto;
		height: auto;
		border-radius: 40px;
		margin: 2rem 0rem;
		line-height: 3rem;
		position: relative;
		-webkit-box-shadow: 0px 10px 13px -7px #000000,
			5px 5px 15px 5px rgba(0, 0, 0, 0);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		padding: 2%;
		background: #acc5d6;
		background: -moz-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: -webkit-linear-gradient(
			left,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
		background: linear-gradient(
			to right,
			#acc5d6 0%,
			#7bd9cf 50%,
			#daebec 100%
		);
	}
	.signInForm-container {
		border-radius: 40px;
		margin: 2rem 0rem;
		line-height: 3rem; 
		position: relative;
		-webkit-box-shadow: 0px 10px 13px -7px #000000,
			5px 5px 15px 5px rgba(0, 0, 0, 0);
		box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
		padding: 2%;
		background: #ACC5D6;
		background: -moz-linear-gradient(left, #ACC5D6 0%, #7BD9CF 71%, #DAEBEC 100%);
		background: -webkit-linear-gradient(left, #ACC5D6 0%, #7BD9CF 71%, #DAEBEC 100%);
		background: linear-gradient(to right, #ACC5D6 0%, #7BD9CF 71%, #DAEBEC 100%);
	}
	.registerForm-container h1 {
		font-size: 220%;
		text-align: center;
	}

	.signUp-form {
		margin: 0rem 0rem;
	}
	form.form {
		margin: 2rem 2rem;
		line-height: 2rem;
	}
	span.input-itemR {
		background: none;
		color: black;
		padding: 14.5px 0px 15px 9px;
		border-radius: 5px 0px 0px 5px;
		position: absolute;
		margin: 0.445rem 0.45rem 1.45rem 18.5rem;
	}
	span.error-msg {
		font-size: 100%;
		top: 0rem;
	}
	.register-container  {

		margin: 3rem 7rem;

	}
	.container_msg p {
		font-size: 150%;
	}
	input {
		font-size: 100%;
	}
	#headerHome label{
		display:none;
	}
	#headerHome {
		width: 100%;
	}
	.menu_mobile ,.menu_mobile1{
		display: flex;
		visibility: visible;
		flex-direction: row;
		text-align: center;
		padding-left: 0%;
		padding: 0%;
		margin-top: 0%;
		margin-bottom: 0%;
		list-style: none;
		flex: auto;
		position: relative;
		margin-left: 0%;
	}
	.body_container{

        display: grid;
        grid-gap:20px;
        grid-template-columns: repeat(3,1fr);
    }
    .profile_section{
        display: block;
	}
	
    .timeline_section{
        grid-column: span 2;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
