/**********homeView Desktop (1562px x 920px)*******************************************/

body {
    background-color:white;
    margin: auto;
    padding: 20px, 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

.punchStarter {
    font-size: 54px;
    background-color: none;
    width: 30%;
    display: inline-block;
}

.punchText {
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
    background-color: none;
    width: 67%;
    display: inline-block;
}

table {
    background-color: none;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

th {
    line-height: 0.8;
    font-size: 14px;
}

td {
    width: 35%;
    background-color: none;
    line-height: 1.2;
    font-size: 14px;
    padding: 9px;
}

.intro {
    background-color: none;
    width: 55.4%;
    display: inline-block;
    margin-left: 110px;
}

.videoIntro {
    width: 100%;
    margin-top: -1px;
}

.video {
    width: 882px;
    height: 495px;
}

.join {
    background-color: none;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: auto;
    position: relative;
}

.ilustration {
    width: 100%;
    position: absolute;
}

.anime {
    width: 460px;
    height: 452px;
    background-image: url(images/index_mayoi_neko.png);
    background-size: 99%;
    background-repeat: no-repeat; 
    z-index: 2;   
}

.home_form {
    margin-top: 342px;
    height: 495px;
    background-image: url(images/index_fondo_form.png);
    background-size: 92%;
    z-index: 1;
}

.emptySpace {
    height: 100px;
}

.formOptions {
    background-color: none;
    width: 350px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.signInOptionButton {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.logInOptionButton {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.logIn {
    background-color: none;
    border-top: black solid 2px;
    border-right: black solid 2px;
    width: 175px;
    text-align: left;
    font-size: 18px;
    padding-left: 5px;
}

.signInOptionCell {
    background-color: none;
    border-bottom: black solid 2px;
    width: 175px;
    text-align: right;
    font-size: 18px;
}

.logInOptionCell {
    background-color: none;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    width: 175px;
    text-align: left;
    font-size: 18px;
}

.signIn {
    background-color: none;
    border-top: black solid 2px;
    border-left: black solid 2px;
    width: 175px;
    text-align: right;
    font-size: 18px;
    padding-right: 5px;
}

.initForm {
    width: 350px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.logInButton , .signInButton {
    width: 355px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.initForm p {
    text-align: center;
}

.logInWithFacebookButton , .signInWithFacebookButton {
    width: 355px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.logo {
    text-align: center;
    color: white;
    font-size: 24px;
}

.footer {
    padding: 20px;
    text-align: center;
}


/**********homeView Mobile (360px x 640px)*********************************************/

@media screen and (max-width:365px) {
    .intro {
        background-color: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper section:first-child {
        order: 1;
    }
  
    .videoIntro {
        width: 100%;
        margin-top: -20px;
    }
    
    .video {
        width: 325px;
        height: 184px;
        margin-left: auto;
        margin-right: auto;
        background-color: none;
        padding-left: 18px;
    }

    .punchStats {
        display: none;
    }

    .punchLine {
        width: 50%;        
        text-align: left;
        background-color: none;
    }
    
    .punchStarter {
        height: 55px;
        font-size: 22px;
        line-height: 60%;
        background-color: none;
        display: inline-block;
        margin-top: -10px;
        margin-left: 18px;
    }
    
    .punchText {
        height: 120px;
        width: 150px;
        font-size: 16px;
        font-weight: bold;
        text-align: top;       
        background-color: none;
        display: inline-block;
        margin-left: 18px;
        margin-top: -10px;
    }

    .join {
        background-color: none;
        vertical-align: top;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    
    .ilustration {
        width: 55%;
        position: absolute;
        background-color:none;
    }
    
    .anime {
        width: 215px;
        height: 200px;
        background-image: url(images/index_mayoi_neko.png);
        background-size: 99%;
        background-repeat: no-repeat; 
        z-index: 3;
        margin-left: 145px; 
        margin-top: -160px; 
    }
    
    .home_form {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        width: 325px;
        background-image: url(images/index_fondo_form.png);
        background-size: 100%;
        z-index: 1;
    }
  
    .emptySpace {
        height: 50px;
        background-color: none;
        z-index: 2;
    }
    
    .formOptions {
        background-color: none;
        width: 220px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .logIn , .signIn {
        width: 110px;
        background-color: none;
        font-size: 16px;
    }
    
    .logInOptionCell , .signInOptionCell {
        background-color: none;
        width: 110px;
    }

    .signInOptionButton , .logInOptionButton {
        width: 80px;
        height: 20px;        
        font-size: 16px;
    }

    .initForm {
        width: 220px;
        height: 225px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .input {
        width: 220px;
        height: 30px;
    }
    
    .logInButton , .signInButton {
        width: 225px;
        height: 35px;
    }
    
    .initForm p {
        text-align: center;
    }
    
    .logInWithFacebookButton , .signInWithFacebookButton {
        width: 225px;
        height: 35px;
    }
    
    .logo {
        font-size: 22px;
    }
    
    .footer {
        font-size: 12px;
    }
}