/**********homeView Tablet (768px x 1024px)***************************/

@media screen and (max-width: 768px) {
    .homeBodyWrapper {
        width: 100%;
        
        flex-direction: column;            
    }

    .linkTab {
        display: none;
    }

    .iconLinkTab {
        display: block;
    }

    /**********aside left**********/
    
    .leftHome {
        width: 80%;
        margin-left: 0%;
        align-self: center;
        margin-bottom: 0px;
        background-color: none;
        
    }

    .linkTab {
        display: none;
    }

    .iconLinkTab {
        width: 100%;
        display: block;
    }

    .iconMobile {
        width: 18.5%;
        font-size: 40px;
        background-color: none;
    }

    /**********main**********/
    
    .mainHome {
        width: 80%; 
        margin-left: 7%;       
        align-self: center;
    }

    
    .newPostContainer {
        width: 100%;
        padding-top: 0px;
        margin-bottom: 10px;
    }
    
    .newPostForm {
        width: 300px;
    }

    .newPostInputText {
        width: 260px;
    }
    
    .separator {
        width: 280px;
    }

    .postButton {
        margin-right: 10px;
    }

    /**********postList************/
    .postForm {
        width: 300px;
    }

    .topUDContainer {
        height: 25px;
    }

    .iconLeftPost {
        width: 12%;
        height: 25px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .rightTextPost {
        width: 50%;        
        margin-left: 0px;        
        padding-top: 10px;
    }

    .loggedUsr {
        height: 20px;
        font-size: 14px;
        
    }
    
    .postDate {
        font-size: 8px;
    }

    .deletePost {
        width: 15%;        
        padding-top: 10px;
    }

    .deletePostButton {
        width: 20px;
        height: 20px;
        font-size: 26px;
    }
}


/**********homeView Mobile (360px x 640px)****************************/
/**********homeView Mobile mini (320px x 480px)***********************/

@media screen and (max-width: 361px) {
    /**********main**********/
    .homeBodyWrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;    
    }

    .mainHome {
        width: 100%;
        margin-left: 0;
        align-self: center;
    }
    
    .newPostContainer {
        padding-top: 0px;
    }

    .newPostForm {
        width: 300px;
    }
    
    .newPostInputText {
        width: 260px;
    }
    
    .separator {
        width: 280px;
    }
    
    .postButton {
        margin-right: 10px;
    }

    /**********aside left**********/
    .left {
        width: 100%;
        align-self: center; 
        margin-left: 0;
        margin-bottom: 0px;
        background-color: none;
    }

    .linkTab {
        display: none;
    }
    /*
    .userPhoto {
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .userName {
        width: 150px;
        height: 40px;
        margin-top: -5px;
    }
    .userName p {
        font-size: 14px;
    }
    */
    .bottom {
        display: none;
    }

    .iconLinkTab {
        display: block;
        height: 40px;
        margin-left: 0px;
    }

    .iconMobile {
        width: 20%;
        font-size: 28px;
        background-color: none;
    }
}