/**********defaultView Desktop (1600px x 992px)************************/
/*
body {
    margin: auto;
    padding: 20px, 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.container {
    width: 100%;
    max-width: 1562px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
*/

.wrapperSignAndLog {
    background-color: white;
}

.intro {
    background-color: none;
    width: 57%;
    display: inline-block;
    margin-left: 6.5%;
}

.punchStarter {
    font-size: 54px;
    background-color: none;
    width: 30%;
    display: inline-block;
}
  
.punchText {
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
    background-color: none;
    width: 67%;
    display: inline-block;
}

table {
    background-color: none;
    text-align: center;
    width: 100%;
    margin-bottom: 34px;
}
  
th {
    line-height: 0.8;
    font-size: 14px;
}
  
td {
    width: 35%;
    background-color: none;
    line-height: 1.2;
    font-size: 14px;
    padding: 9px;
}
    
.videoIntro {
    width: 100%;
    margin-top: -1px;
}
  
.video {
    width: 912px;
    height: 511.8px;
}
  
.join {
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-left: -4px;
    margin-right: auto;
    position: relative;
}
  
.ilustration {
    width: 100%;
    position: absolute;
}
  
.anime {
    width: 480px;
    height: 472px;
    background-image: url(images/index_mayoi_neko.png);
    background-size: 99%;
    background-repeat: no-repeat;
    z-index: 2;
}
  
.home_form {
    margin-top: 356px;
    height: 511.8px;
    background-image: url(images/index_fondo_form.png);
    background-size: 92%;
    z-index: 1;
}
  
.emptySpace {
    height: 95px;
    background-color: none;
}
  
.signInOptionForm {
    display: none;
}
  
.formOptions {
    background-color: none;
    width: 350px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
  
.signInOptionButton {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    text-align: right;
    font-size: 14px;
}
  
.logInOptionButton {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    text-align: left;
    font-size: 14px;
}
  
.logIn {
    background-color: none;
    border-top: black solid 2px;
    border-right: black solid 2px;
    width: 175px;
    text-align: left;
    font-size: 14px;
    padding-left: 5px;
}
  
.signInOptionCell {
    background-color: none;
    border-bottom: black solid 2px;
    width: 175px;
    text-align: right;
    font-size: 18px;
}
  
.logInOptionCell {
    background-color: none;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
    width: 175px;
    text-align: left;
    font-size: 18px;
}
  
.signIn {
    background-color: none;
    border-top: black solid 2px;
    border-left: black solid 2px;
    width: 175px;
    text-align: right;
    font-size: 14px;
    padding-right: 5px;
}
  
.initForm {
    width: 350px;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    justify-content: top;
    background-color: none;
}
  
.form-groupT {
    width: 350px;
    height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
}
  
.formTitle {
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    background-color: none;
    margin: auto;
    padding-top: 6px;
}
  
.form-groupP {
    width: 350px;
    height: 35px;
    padding-top: 2px;
    padding-bottom: 2px;
}
  
.form-groupS {
    width: 350px;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: none;
}
  
.input {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-bottom: 0px;
}
  
input:required,
input:invalid {
    border-right: 2px solid  rgb(54, 4, 83);
    border-bottom: 2px solid rgb(54, 4, 83);  
}
  
input:valid {
    border: none;
}
  
.signInErrorResponse,
.logInErrorResponse {
    text-align: left;
    line-height: 0;
    vertical-align: top;
    font-size: 14px;  
    color: rgb(25, 1, 70);
    margin: auto;  
    display: inline-block;
    background-color: none;
}
  
.logInButton,
.signInButton {
    width: 355px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
  
.logInWith, 
.signInWith {
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: none;
    margin: auto;
    padding-top: 5px;
}
  
.logInWithFacebookButton,
.signInWithFacebookButton {
    width: 355px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
  
.logInCustomErrorResponse,
.signInCustomErrorResponse {
    text-align: left;
    line-height: 0;
    vertical-align: top;
    font-size: 14px;  
    color: rgb(26, 241, 7);
    margin: auto;  
    display: inline-block;
    background-color: none;
}
  
.formFooter {
    width: 350px;
    height: 50px;
    margin: auto;
}
  
.logo {
    text-align: center;
    color: white;
    font-size: 24px;
}
  
.logoBold {
    font-weight: bolder;
}

.footer {
    padding-top: 40px;
    padding-bottom: 62px;
    text-align: center;
    background-color: transparent;
}
  
.footerBold {
    font-weight: bold;
}

/**********defaultView Laptop (1280px x 802px)************************/

@media screen and (max-width: 1281px) {
    .punchStarter {
        font-size: 44px;        
        width: 29%;
    }
      
    .punchText {
        margin-left: 20px;
        font-size: 26px;
    }

    table {
        margin-bottom: 20px;
    }

    .videoIntro {
        margin-top: 0px;
    }

    .video {
        width: 735px;
        height: 412.4px;
    }

    .join {
        margin-left: 0px;
    }

    .anime {
        width: 407px;
        height: 393px;
    }

    .home_form {
        margin-top: 302px;
        height: 412.4px;
        background-size: 92%;
    }

    .emptySpace {
        height: 75px;
    }

    .formOptions {
        width: 300px;
        height: 30px;
    }

    .logIn {
        width: 150px;
    }
      
    .signInOptionCell {
        width: 150px;
    }
      
    .logInOptionCell {
        width: 150px;
    }
      
    .signIn {
        width: 150px;
    }

    .initForm {
        width: 300px;
        height: 280px;
    }
      
    .form-groupT {
        width: 300px;
        height: 40px;
    }
          
    .form-groupP {
        width: 300px;
        height: 28px;
    }
      
    .form-groupS {
        width: 300px;
        height: 24px;
    }
      
    .input {
        width: 300px;
        height: 28px;
    }

    .logInButton,
    .signInButton {
        width: 305px;
        height: 32px;
    }
  
    .logInWith, 
    .signInWith {
        font-size: 14px;
    }
  
    .logInWithFacebookButton,
    .signInWithFacebookButton {
        width: 305px;
        height: 32px;
    }

    .formFooter {
        width: 300px;
        height: 30px;
    }
      
    .logo {
        font-size: 22px;
    }
    
    .footer {
        padding-top: 30px;
        padding-bottom: 45px;
    }
}

