
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.error {
    border: 2px solid red;
}
/****************************************vista de logIn***********************************/
/*css para vista SignIn*/
/*contenedor de text-info y logIn*/
.container-logIn , .container-signUp{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*referente a text-info*/
.text-info img{
    margin-top: 100px;
}

.text-info,.text-infoSingUp{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    color: #ffffff;
    width: 50%;
}
.text-info{
    margin-right: 10%;
}
.text-infoSingUp{
    margin-left: 10%;
}

.text-infoTitle{
    font-size: 24px;
    color: #ffffff;
}
.text{
    font-size: 16px;
}
/*referente a logIn*/
/*contenedor de box-logIn*/
.section-register{
    width: 50%;
    height:100%;
    display: flex;  
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.box-section-register{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    min-width: 350px;
    height: 80%;
}
.box-section-register header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.title{
    font-size: 48px;
    color: #2CAB92;
    font-weight: bold;
}
.text-title{
    font-size: 32px;
    color: #444;
    font-weight: bold;
}
.div-input input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border-radius: 55px;
  }
  .box-section-register input::placeholder {
    color: #aaa;
  }
  .div-input {
    max-width: 100%;
    background-color: #f0f0f0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
    font-size: 16px;
    width: 100%;
  }
  .div-input i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 16px;
  }
.section-register form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}

.btn-logIn,.newAccount,.btn-signUp{
    font-weight: 600;
    justify-content: center;
    width: 60%;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    cursor: pointer;
}
.btn-logIn,.backLogin{
    background-color: transparent;
    border-color: #2CAB92;
    color: #2CAB92;
    border-style: solid;
}
.newAccount,.btn-signUp{
    color: #ffffff;
    height: 55px;
    background-color:#2CAB92;
}
.newAccount a{
    color: #ffffff;
}
.btn-logIn a,.backLogin a{
    color: #2CAB92;
}
.btn-logIn a,.newAccount a,.backLogin a{
    text-decoration: none;
    font-size: 16px;

}
.newAccount:hover,.btn-signUp:hover{
    background-color:  #2b7a75;
    width: 62%;
    height: 54px;
}
.backLogin:hover,.btn-logIn:hover{
    border-color: #2b7a75;
    color: #2b7a75;
    height: 55px;
}
.option{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 40%;
}
.option img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.option img:hover{
    width: 45px;
    height: 45px;
}
/*referente a diseño circular de la vista de logIn*/
.container-logIn:before  {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    right: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #2CAB92 0%, #04befe 100%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease-in-out;

}
/******************************Vista de signUp***********************************/
.backLogin{
    justify-content: center;
    width: 20%;
    height: 49px;
    border-radius: 49px;
    cursor: pointer;
}
.backLogin a{
    font-size: 30px;
}
.container-signUp:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    left: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(45deg, #2CAB92 0%, #04befe 100%);
    border-radius: 50%;
    z-index: -1;
    transition: 1s ease-in-out;
}
.container-signUp{
    position: absolute;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}



/******************************media query***********************************/
@media screen and (max-width:900px){
    /*referente a vista logIn*/
    .container-logIn:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 75%;
        right: initial;
        top: initial;
        transition: 1s ease-in-out;
        z-index: -1;
    }
   
    .text-info img{
        display: none;
    }
    .container-logIn , .container-signUp{
        flex-flow: row wrap;
    }

    .section-register{
        width: 80%;
    }
    .box-section-register{
        width: 100%;
    }
    /*referente a vista SignUp*/
    .container-signUp:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-45%);
        right: 30%;
        bottom: 75%;
        right: initial;
        top: initial;
        transition: 1s ease-in-out;
        z-index: -1;
    }
    .text-infoSingUp{
        width: 90%;
        margin-left: 12%;
        margin-right: 5%;
    }
    .text-infoSingUp .text , .text-info .text {
        font-size: 14px;
    }
    


}