/**********defaultView Desktop (1562px x 920px)************************/
/*
body {
    margin: auto;
    padding: 20px, 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  transparent;
}
 
.container {
    width: 100%;
    max-width: 1562px;
    margin-left: auto;
    margin-right: auto;
    background-color:  #F4F1F1;
}
*/
/**********homeView Desktop (1562px x 920px)**************************/

.homeBodyWrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
    background-color:  #F4F1F1;   
}

/**********main**********/
.mainHome {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    background-color: none;
}

.newPostContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: transparent;
}
    
.newPostForm {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
}
  
.form-groupPost {
    text-align: center;
}
  
.newPostInputText {
    width: 470px;  
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 5px;
}
  
.separator {
    width: 490px;
}
  
.callToAction {
    text-align: right;
}
  
.postButton {
    width: 75px;
    height: 25px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: black;
    border-radius: 5px;
    background-color: black;
    font-size: 12px;
    color: white;
    display: inline-block;
}

/**********postList************/

.postList {
    list-style-type: none;
}

.postContainer {
    margin-left: -40px;
    padding-top: 0px;
    padding-bottom: 25px;
    background-color:transparent;
}

.postForm {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.topUserData {
    margin-bottom: 0;
}

.topUDContainer {
    height: 30px;
}

.iconLeftPost {
    width: 10%;
    height: 30px;
    margin-top: 5px;
    margin-left: 6px;
    display: inline-block;
    background-image: url(images/quinnbee_mini.png);
    background-size: 70%;
    background-repeat: no-repeat;
}

.rightTextPost {
    width: 60%;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 0px;
    display: inline-block;
    padding-top: 15px;
    text-align: left;
    background-color: transparent;
}

.loggedUsr {
    height: 20px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.postDate {
    font-size: 10px;
    color: rgb(82, 83, 83);
}

.deletePost {
    width: 15%;
    vertical-align: top;
    padding-top: 10px;
    display: inline-block;
    background-color: transparent;
}

.deletePostButton {
    width: 20px;
    height: 20px;
    font-size: 32px;
    text-align: center;
    color:  rgb(82, 83, 83);
    background-color: transparent;
    border: none
}

.postInputTextContent {
    margin-left: 15px;
    text-align: left;
}

.otherUsersReaction {
    height: 40px;
    margin-left: 15px;
    text-align: left;
}

.likeButton {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url(images/heart-icon.jpg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 2px black;
}

.shareButton {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url(images/download-share-icon.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 2px black;
}

/**********aside left**********/
.leftHome {
    width: 24%;
    display: inline-block; 
    background-color: none;
}
  
.myProfileTab {
    width: 100%;
}

.linkTab { 
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; 
    background-color: none;
}

.iconLeft {
    width: 24%;
    font-size: 36px;
    border-bottom: dotted 1px grey;
    background-color: none;
}

.rightText {
    width: 75%;
    border-bottom: dotted 1px grey;
    background-color: none;
}
/*
.userPhotoMini {
    width: 50px;
    height: 50px;
    border: none;
    background-image: url(images/logged_user_photo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
*/
.rightText p,
.rightTextLast p {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.subtitle {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    color:  rgb(82, 83, 83);
}

.subtitle2 {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 16px;
    color:  white;
}

.iconLeftLast {
    width: 24%;
    font-size: 36px;
    background-color: none;
}

.rightTextLast {
    width: 75%;
    background-color: none;
}
   
.sepUserData {
    width: 350px;
    text-align: left;
}

.footerSideText {
    width: 300px;
    padding: 0 40px;
    text-align: center;
    font-size: 12px;
    color: rgb(82, 83, 83);
}

.iconLinkTab {
    display: none;
}

/**********homeView Laptop (1280px x 802px)***************************/

@media screen and (max-width: 1281px) {
    /**********aside left**********/
    .leftHome {
        margin-left: -6.5%;
    }

    .mainHome {
        margin-left: 7%;
    }
}
